[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mail = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
dnspython = "*"
py3dns = "*"
validate-email = "*"
itsdangerous = "*"
passlib = "*"
email-validator = "*"

[requires]
python_version = "3.6"
